* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:root {
    --primary-color: #171100;
    --second-color: #ffb900;
}
html,
body {
    scroll-behavior: smooth;
}
html {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}
/* Common */
.content {
    width: 1170px;
    max-width: calc(100% - 24px);
    margin: 0 auto;
}
.btn {
    display: inline-block;
    color: #fff;
    background: var(--second-color);
    border-radius: 25px;
    min-width: 118px;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.75;
    padding: 11px 0;
    text-align: center;
}
.btn:hover {
    opacity: 0.9;
}
a {
    text-decoration: none;
}
.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 2);
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.dfcenter {
    display: flex;
    justify-content: center;
    align-items: center;
}
.dots {
    display: flex;
    align-items: center;
    gap: 6px;
}
.dots .dot {
    width: 6px;
    height: 6px;
    background-color: #634700;
    border-radius: 50%;
}
.dot.active {
    background-color: var(--second-color) !important;
}
.btn.changColorHover:hover {
    background-color: var(--second-color) !important;
}
/* Header */
.header {
    position: sticky;
    top: -24px;
    padding: 36px 0 12px;
    background: #fffcf4;
    z-index: 1;
}

.header .links {
    display: flex;
    align-items: center;
}
.header .link {
    position: relative;
    color: #5f5b53;
    padding: 0 21px;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
}
.header .links .link:first-child {
    color: var(--primary-color);

    text-shadow: 1px 0 0 currentColor;
}
.header .links .link:hover {
    color: var(--primary-color);
    text-shadow: 1px 0 0 currentColor;
}
.header .links .link:first-child::after {
    position: absolute;
    content: "";
    display: block;
    width: 12px;
    height: 2px;
    background: var(--primary-color);
    border-radius: 1px;
}
.header .btn {
    background: var(--primary-color);
    min-width: 144px;
    margin-left: 49px;
}
/* Hero */
.hero {
    background: #fffcf4;
    padding-top: 53px;
    padding-bottom: 65px;
}
.hero .block-images {
    position: relative;
}
.hero .block-images .info {
    position: absolute;
    bottom: 48px;
    right: -100px;
    background: #fff;
    width: 270px;
    padding: 24px;
    border-radius: 12px;
    box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
}
.hero .info .row + .row {
    margin-top: 14px;
}
.hero .info-right {
    position: relative;
    margin-left: 230px;
}
.hero .info .row {
    justify-content: flex-start;
}
.hero .compoment {
    display: flex;
    margin-left: 16px;
    flex-direction: column;
}
.hero .block-images .image {
    width: 470px;
    height: 685px;
    border-radius: 20px;
}
.compoment .first-desc {
    color: #5f5b53;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.85714;
}
.compoment .second-desc {
    color: var(--primary-color);
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.7;
}
.info-right .title {
    color: var(--primary-color);
    font-family: "Sen", sans-serif;
    font-size: 5.8rem;
    font-weight: 700;
    line-height: 1.17241;
    letter-spacing: -1.16px;
    width: 470px;
}
.info-right .desc {
    margin-top: 22px;
    color: #5f5b53;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.7;
}
.btn-info {
    margin-top: 38px;
}
.btn-info .btn:first-child {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
    border-radius: 32px;
    background: var(--second-color);
    min-width: 180px;
    height: 64px;
}
.row.btn-info {
    justify-content: flex-start;
}
.btn-info .wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 28px;
    height: 40px;
    width: 40px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 2px 3px 3px 1px #ccc;
}

.btn-info span {
    margin-left: 14px;
    color: var(--primary-color);
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.7;
}
.info-right > .desc {
    color: #5f5b53;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.7;
}
.info-right > .desc + .desc {
    margin-top: 8px;
}
.info-right .desc strong {
    margin-left: 28px;
    margin-top: 8px;
    color: var(--primary-color);
    font-family: "Sen", sans-serif;
    font-size: 4.4rem;
    font-weight: 700;
    line-height: 1.23;
}
.info-right .desc strong:first-child {
    margin-left: 0;
}

/* Courses */
.courses .wrap-all {
    padding-top: 200px;
    justify-content: space-between;
}
.courses .title {
    color: var(--primary-color);
    font-family: "Sen", sans-serif;
    font-size: 3.8rem;
    font-weight: 700;
    line-height: 1.27;
    letter-spacing: -0.76px;
}
.courses .wrap1 {
    width: 458px;
}
.courses .desc {
    margin-top: 16px;
    color: #5f5b53;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.67;
}
.courses .back {
    cursor: pointer;

    height: 40px;
    width: 40px;
    border: 1px solid var(--second-color);
    border-radius: 50%;
}
.courses .next {
    cursor: pointer;
    margin-left: 20px;
    height: 40px;
    width: 40px;
    background-color: var(--second-color);
    border-radius: 50%;
}

.list-courses {
    margin-top: 55px;
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
.image-course {
    width: 100%;
    height: 278px;
    object-fit: cover;
    border-radius: 12px 12px 0px 0px;
}
.list-courses .info-course {
    padding: 16px 22px 22px;
}
.info-course .title a {
    display: block;
    color: var(--primary-color);
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
}
.info-course .desc {
    margin-top: 6px;
    color: #5f5b53;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.85;
}
.list-courses .item-course {
    width: 370px;
    max-width: 100%;
    border-radius: 12px;
    border: 1px solid #e2dfda;
    background: #fff;
}
.list-courses .item-course:hover {
    border-color: transparent;
    box-shadow: 0px 18px 36px rgba(0, 0, 0, 0.05);
}
.info-course .price {
    color: var(--primary-color);
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
}
.info-course .wrap-title {
    justify-content: space-between;
}
.item-course .wrap {
    margin-top: 12px;
    justify-content: space-between;
}
.item-course .wrap .btn {
    min-width: 118px;
    font-size: 14px;
}
.item-course .wrap .btn {
    background: var(--primary-color);
}
.info-course .start {
    justify-content: space-between;
}
.report_course {
    margin-left: 6px;
    color: #fea31b;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
}
/* Testimonial */
.testimonial {
    margin-top: 200px;
    background: #2e2100;
    padding: 96px 0;
}
.testimonial .avatar {
    width: 72px;
    height: 72px;
    object-fit: cover;
    border-radius: 50%;
}
.testimonial .info-right .desc {
    width: 740px;
    color: #fff;
    font-size: 2.6rem;
    font-style: italic;
    font-weight: 400;
    line-height: 1.54;
}
.testimonial .name-person {
    margin-top: 18px;
    color: #f7f7f7;
    font-family: "Sen", sans-serif;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 1.41667;
}
.testimonial .info-person .desc {
    margin-top: 4px;
    color: #bfbcb2;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.85714; /* 185.714% */
}
.open-quotes {
    position: absolute;
    position: absolute;
    transform: translate(-100%, -30%);
}
.testimonial .dots {
    margin-top: 28px;
}

/* Featured1 */

.featured-1 {
    margin-top: 200px;
}
.featured-1 .block-image {
    gap: 0 30px;
    align-items: flex-start;
}
.featured-1 .block-image img {
    width: 270px;
    height: 404px;
    object-fit: cover;
    border-radius: 16px;
}
.featured-1 .info-right {
    margin-left: 130px;
}
.featured .title {
    color: var(--primary-color);
    font-family: "Sen", sans-serif;
    font-size: 3.8rem;
    font-weight: 700;
    line-height: 1.27;
    letter-spacing: -0.76px;
}

.featured .desc {
    margin-top: 16px;
    color: #5f5b53;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
}
.featured .btn {
    margin-top: 32px;
    min-width: 137px;
    font-weight: 600;
}
.featured-1 .lower {
    margin-top: 34px;
}

/* Featured2 */
.featured-2 {
    margin-top: 200px;
}
.featured-2 img {
    width: 470px;
    height: 440px;
    object-fit: cover;
    border-radius: 20px;
}
.featured-2 .info-left {
    width: 570px;
}
/* Blog */
.blog {
    margin-top: 200px;
    background: #fffcf4;
    padding: 96px 0;
}
.blog .title {
    color: #130606;
    text-align: center;
    font-family: "Sen", sans-serif;
    font-size: 3.8rem;
    font-weight: 700;
    line-height: 1.27;
    letter-spacing: -0.76px;
}
.blog .blog-image {
    width: 370px;
    height: 250px;
    object-fit: cover;
    border-radius: 16px 16px 0px 0px;
}
.blog .desc {
    margin: 0 auto;
    margin-top: 16px;
    width: 448px;
    text-align: center;
    color: #696262;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
}
.list-blog {
    margin-top: 55px;
    gap: 0 30px;
}
.list-blog .item-blog {
    width: 370px;
    border-radius: 16px;
    background: #fff;
    box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
}
.blog .item-blog:hover {
    cursor: pointer;
    box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.05);
}
.item-blog .date {
    position: relative;
    display: inline-flex;
    align-items: center;
    color: #5f5b53;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.86;
}
.item-blog .date::before {
    content: "";
    display: inline-block;
    margin-right: 4px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: var(--second-color);
}
.item-blog .date::after {
    content: "";
    position: absolute;
    bottom: -12px;
    display: block;
    width: 160px;
    height: 1px;
    border-radius: 0.5px;
    background: #e2dfda;
}
.item-blog .sub-title a {
    display: block;
    margin-top: 24px;
    color: var(--primary-color);
    width: 330px;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.75; /* 175% */
}
.item-blog .btn {
    margin-top: 12px;
    font-size: 1.4rem;
    background: var(--primary-color);
}
.info-blog {
    padding: 20px 20px 28px 20px;
}
.blog .dots {
    margin-top: 38px;
    display: flex;
    justify-content: center;
}
/* Footer */
.footer {
    padding-top: 96px;
    background: #2e2100;
}
.atc-all {
    display: flex;
    justify-content: space-between;
}
.footer .sub-title {
    position: relative;
    color: #fff;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.75;
}
.footer ul li {
    margin-top: 12px;
}
.footer .sub-title::after {
    content: "";
    position: absolute;
    bottom: -14px;
    left: 0;
    width: 130px;
    height: 1px;
    background: #59554b;
}
.footer ul li:nth-child(2) {
    margin-top: 43px;
}
.footer .bold {
    color: #fff;
    font-weight: 600;
}
.footer ul li a {
    margin-top: 12px;
    color: #bfbcb2;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.85714;
}
.footer .horizontal {
    margin-top: 38px;
    height: 1px;
    background: #59554b;
}
.footer address {
    color: #807d74;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.86;
    padding: 28px 0;
}
.footer li.desc {
    width: 267px;
    margin-top: 18px !important;
}
.social-icon {
    margin-right: 15px;
}
